:root {
    --bg: rgb(105, 105, 234);
}

html, body{
    width: 100%;
    height: auto;
    margin: 0; padding: 0;
}

body{
    background-color: var(--bg);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#title{
    margin-top: 150px;
    font-size: 35pt;
}

#description{
    color: rgb(210, 212, 255);
    font-size: 13pt;
    margin-top: -20px;
    margin-bottom: 75px;
}

footer{
    position: fixed;
    left: 0; bottom: 20px;
    text-align: center;
    width: 100%;
}

input{
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    background-color: rgba(101, 67, 188, 0.583);
    color: rgb(185, 188, 255);
    padding: 15px;
    border-radius: 15px;
}

input[type="button"]{
    margin-top: 20px;
    font-size: 12pt;
    cursor: pointer;
    border: 2px solid rgba(148, 151, 255, 0.807);
}

input[type="button"]:hover{
    box-shadow: 0em 0em 1em rgba(148, 151, 255, 0.807);
}